/* Estilização geral */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    background-image: url('background.jpg'); /* Altere o URL para sua imagem de background */
    background-size: cover;
    background-position: center;
}

/* Estilo para o título */
h2 {
    color: #333;
    text-align: center;
    font-size: 24px; /* Altere o tamanho da fonte aqui */
}

/* Estilo para o formulário */
form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 350px;
    width: 100%;
    text-align: center;
}

label {
    font-weight: bold;
    color: #333;
    font-size: 16px; /* Altere o tamanho da fonte do label */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px; /* Altere o tamanho da fonte do input */
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px; /* Altere o tamanho da fonte do botão */
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilo para a mensagem de erro */
p {
    color: red;
    text-align: center;
    font-size: 14px; /* Altere o tamanho da fonte da mensagem de erro */
}
