<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/index.css">
  <title>Pousada Encantada</title>
</head>

<body>
  <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#cafe-da-manha" class="nav-link">Café da Manhã</a></li>
        <li class="nav-item"><a href="#acomodacoes" class="nav-link">Acomodações</a></li>
        <li class="nav-item"><a href="{{ url_for('formulario') }}" class="nav-link">Formulário</a></li>
        <li class="nav-item"><a href="{{ url_for('getLogin') }}" class="nav-link">Login</a></li>
      </ul>
    </header>
  </div>
  <div class="b-example-divider"></div>

  <!-- Conteúdo Principal -->
  <div class="content">
    <!-- Carrossel Bootstrap Centralizado -->
    <div class="carousel-container">
      <div id="topCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            
            <div class="carousel-caption d-none d-md-block">
              <h5 style="color: black;">Promoções Especiais</h5>
              <p><a href="#" data-bs-toggle="modal" data-bs-target="#popupOfertas">Ver Ofertas</a></p>
            </div>
          </div>
          <div class="carousel-item">
            
            <div class="carousel-caption d-none d-md-block">
              <h6>Menu Café da Manhã</h6>
            </div>
          </div>
          <div class="carousel-item">
            <img src="accommodations.jpg" class="d-block w-100" alt="Acomodações">
            <div class="carousel-caption d-none d-md-block">
              <h5>Tipos de Quartos</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="paisagem.jpg" class="d-block w-100" alt="Galeria de Paisagem">
            <div class="carousel-caption d-none d-md-block">
              <h5>Galeria de Paisagem</h5>
              <p><a href="#" data-bs-toggle="modal" data-bs-target="#popupGaleria">Ver Galeria</a></p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#topCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#topCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- Conteúdo de Texto -->
    <div class="menu-principal">
      <section class="cafe-da-manha-header" id="cafe-da-manha">
        <div class="container">
          <h2>Comece o seu dia com um delicioso café da manhã</h2>
          <p class="text-center">Na nossa pousada, o café da manhã é preparado com ingredientes frescos e de qualidade, para oferecer a você um início de dia cheio de sabor e energia. Desfrute de uma variedade de opções, com frutas, pães, bolos caseiros e muito mais.</p>
        </div>
      </section>
      <section class="cafe-da-manha-container">
        <div class="container">
          <div class="row">
            <div class="col-md-4 item-cafe">
              <img src="../static/images/paes.jpg" alt="Pães e Grãos" width="300px">
              <h5>Pães e Grãos</h5>
              <p>Pão de queijo, pães variados, croissants, torradas, cereais.</p>
            </div>
            <div class="col-md-4 item-cafe">
              <img src="../static/images/pao-de-lo.jpg" alt="Bolos e Doces" width="300px">
              <h5>Bolos e Doces</h5>
              <p>Bolos caseiros (cenoura, chocolate, fubá), cookies, muffins.</p>
            </div>
            <div class="col-md-4 item-cafe">
              <img src="../static/images/suco.jpg" alt="Frutas e Sucos" width="300px">
              <h5>Frutas e Sucos</h5>
              <p>Frutas frescas da estação, sucos naturais, iogurtes.</p>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-4 item-cafe">
              <img src="../static/images/Ovos-mexidos.jpg" alt="Opções Quentes" width="300px">
              <h5>Opções Quentes</h5>
              <p>Ovos mexidos, bacon, panquecas, waffles.</p>
            </div>
            <div class="col-md-4 item-cafe">
              <img src="../static/images/suco.jpg" alt="Bebidas" width="300px">
              <h5>Bebidas</h5>
              <p>Café, chá, leite, achocolatado.</p>
            </div>
            <div class="col-md-4 item-cafe">
              <img src="../static/images/tapioca.jpg" alt="Opções Regionais" width="300px">
              <h5>Opções Regionais</h5>
              <p>Delícias locais, como queijo minas, cuscuz, tapioca.</p>
            </div>
          </div>
          <hr class="featurette-divider">
          <section>
            <h1>Depoimentos</h1>
            <div class="row">
              <div class="col-lg-4 " >
                <img src="../static/images/mulher2.jpg" width="140px" height="140px" class="avatar">
                <h2 class="fw-normal">Clara Oliveira</h2>
                <p>"O café da manhã superou todas as expectativas! Os pães caseiros estavam fresquinhos e com um sabor incrível. Uma combinação perfeita de sabor e qualidade para dar um início delicioso ao meu dia."</p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img src="../static/images/homem.jpg" width="140px" height="140px" class="avatar">
                <h2 class="fw-normal">Lucas Martins</h2>
                <p>"O café da manhã foi simplesmente maravilhoso! A seleção de pães caseiros estava impecável e o sabor de cada um deles era delicioso. Com certeza, uma forma perfeita de iniciar o dia com energia e satisfação."</p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img src="../static/images/mulher1.jpg" width="140px" height="140px" class="avatar">
                <h2 class="fw-normal">Sofia Almeida</h2>
                <p>"Fiquei encantado com o café da manhã! A variedade de pães caseiros estava de dar água na boca, e o sabor de cada um era único. Sem dúvida, uma maneira fantástica de começar a manhã com muito prazer!"</p>
              </div><!-- /.col-lg-4 -->
            </div>
          </section>
        </div>
      </section>

      <section id="acomodacoes" class="">
        <h2>Acomodações</h2>
        <hr class="featurette-divider">
        <div class="row">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Domo</h2>
            <p class="lead">O Domo é a grande novidade da pousada. Uma acomodação totalmente diferenciada construída nos
              padrões arquitetônicos dos domos geodésicos modernos. </p>
              <button width="70px" height="70px"> a reserva</button>
          </div>
          <div class="col-md-5">
            <img src="../static/images/domo.png" width="400px">
          </div>
          
        </div>
        <hr class="featurette-divider">
        <div class="row">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Charrua</h2>
            <p class="lead">O Charrua é uma das grandes novidades da pousada. A seguir alguns detalhes que acompanham
              esta acomodação especial: Roupas de cama; Roupas de banho; Banheira de hidromassagem; Cozinha básica;
              Taças; Churrasqueira; Televisão; Soundbar Jbl Cinema; Cafeteira com cápsula; Rede de descanso; Área com
              vista para o mar; Deck externo com fogueira; Acompanha uma cesta de café da manhã; </p>
              <button width="70px" height="70px"> a reserva</button>
          </div>
          <div class="col-md-5">
            <img src="../static/images/Charrua.png" width="400px">
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="row">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Suite Com Cozinha</h2>
            <p class="lead">Com ampla vista para o mar, esta acomodação possui cama de casal, cama extra,
              ar-condicionado e TV, além de possuir também uma pequena cozinha com utensílios básicos e banheiro. Na sua
              parte externa possui deck com churrasqueira. A acomodação é ideal para duas pessoas, podendo comportar até
              três. </p>
              <button width="70px" height="70px"> a reserva</button>
          </div>
          <div class="col-md-5">
            <img src="../static/images/suiteComCozinha.png" width="400px">
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="row">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Chalé Familia</h2>
            <p class="lead"> Esta acomodação possui dois quartos, um dos quartos com cama de casal e TV e o outro com
              cama de casal e uma de solteiro. Ambos os quartos são equipados com ar-condicionado. Possui também
              banheiro, cozinha com utensílios básicos e churrasqueira. Na sua parte externa possui sacada com ampla
              vista para o mar. A acomodação é ideal para até cinco pessoas. </p>
              <button width="70px" height="70px"> a reserva</button>
          </div>
          <div class="col-md-5">
            <img src="../static/images/Chalé familia.png" width="400px">
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="row">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Cabana</h2>
            <p class="lead"> Esta acomodação está localizada em uma área mais reservada da pousada. Possui cama de
              casal, uma cama de solteiro, cama extra, ar-condicionado, TV, cozinha com utensílios básicos e banheiro.
              Na área externa possui varanda e deck com churrasqueira, tendo ampla vista para o mar. A acomodação é
              ideal para três pessoas, podendo comportar até quatro. </p>
              <button width="70px" height="70px"> a reserva</button>
          </div>
          <div class="col-md-5">
            <img src="../static/images/cabana.png" width="400px">
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="row">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Estacionamento para overlanders</h2>
            <p class="lead">A pousada conta também com um espaço plano com vista para o mar, destinado a estacionamento
              de overlanders, tendo disponível para uso ponto de água e luz. Possui também banheiro e churrasqueira para
              uso comum destes viajantes.</p>
              <button width="70px" height="70px"> a reserva</button>
          </div>
          <div class="col-md-5">
            <img src="../static/images/estacinamento.png" width="400px">
          </div>
        </div>
      </section>
    </div>
    <hr class="featurette-divider">
    <div class="container">
      <footer class="py-5">
        <div class="row">
          <div class="col-4">
            <h5>Loja</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="index.html" class="nav-link p-0 text-muted">Home</a></li>
              <li class="nav-item mb-2"><a href="#cafe-da-manha" class="nav-link p-0 text-muted">Café da Manhã</a></li>
              <li class="nav-item mb-2"><a href="#acomodacoes" class="nav-link p-0 text-muted">Acomodações</a></li>
              <li class="nav-item mb-2"><a href="quemSomos.html" class="nav-link p-0 text-muted">Sobre</a></li>
            </ul>
          </div>
          <div class="col-4">
            <h5>Institucional</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a
                  href="https://www.procon.df.gov.br/wp-content/uploads/2019/08/Codigo-do-consumidor-FINAL.pdf"
                  class="nav-link p-0 text-muted">Codigo de Defesa do Consumidor</a></li>
            </ul>
          </div>
          <div class="col-4">
            <h5>Atendimento</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                  Horário de atendimento:
                  11:00 às 23:00 -
                  Segunda a Domingo,
                  horário de Brasília
                </li>
              <li class="nav-item mb-2">
                  Endereço:
                  Estrada Ipua, nº 6
                  Laguna - SC | 88790-000</li>
              <li class="nav-item mb-2">
                  Telefone:
                  (48) 99940-9732
                </li>
            </ul>
          </div>
        </div>
        <div class="d-flex py-4 my-4">
          <p>© 2024 Pousada Quinta do Ypuã. Todos Direitos Reservados.</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-twitter"></i></a></li>
            <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-instagram"></i></a></li>
            <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-facebook"></i></a></li>
          </ul>
        </div>
      </footer>
    </div>
  </div>
    </div>

    

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  <script src="script.js"></script>
</body>

</html>